@media screen and (min-width: 481px) {
  body p {
    display: block;
  }
  .main {
    display: none;
  }
  .collection {
    display: none;
  }
  .items {
    display: none;
  }
  .footer {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
  }
  body .plz {
    display: none;
  }
  body li {
    list-style: none;
  }
  body .tonedown {
    height: 200vh;
    background: rgba(0, 0, 0, 0.4);
  }
  body .main {
    height: 100vh;
    background: url(../img/main.jpg) no-repeat;
    background-position: center center;
    background-size: 163%;
    position: relative;
  }
  body .main .menuScreen {
    height: 100vh;
    width: 0;
    background: black;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  body .main .menuScreen .screenText {
    display: none;
    color: #fff;
    margin-top: 10vh;
    margin-left: 3vh;
  }
  body .main .menuScreen .screenText li {
    font-size: 36px;
    margin-bottom: 10px;
  }
  body .main .menuScreen .screenText li a {
    text-decoration: none;
    color: #fff;
  }
  body .main .menuScreen .subText {
    display: none;
    color: #fff;
    margin-top: 35vh;
    margin-left: 3vh;
  }
  body .main .menuScreen .subText li {
    font-size: 14px;
    margin-bottom: 10px;
  }
  body .main .menuScreen .subText li a {
    text-decoration: none;
    color: #fff;
  }
  body .main .menuScreen.menuScreenT {
    width: 100%;
    height: 100vh;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  body .main .mainNav {
    position: fixed;
    width: 100%;
    height: 8vh;
    background: rgba(0, 0, 0, 0) url(../svg/logowhite.svg) no-repeat center center;
    background-size: 32.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  body .main .mainNav .rightNav {
    width: 6vh;
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .main .mainNav .rightNav .hambergerMenu {
    width: 2vh;
    height: 1.5vh;
    position: relative;
  }
  body .main .mainNav .rightNav .hambergerMenu .slide_top {
    width: 3vh;
    height: .1vh;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
  }
  body .main .mainNav .rightNav .hambergerMenu .slide_top.asdsfd {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background-color: black;
  }
  body .main .mainNav .rightNav .hambergerMenu .slide_top.rotateTop1 {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    position: absolute;
    top: 0.5px;
    left: 0;
  }
  body .main .mainNav .rightNav .hambergerMenu .slide_top.rotateTop2 {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    position: absolute;
    top: 0px;
    left: 0;
  }
  body .main .mainNav .rightNav .hambergerMenu .slide_hide {
    width: 3vh;
    height: .1vh;
    background-color: white;
    position: absolute;
    top: 5px;
    left: 0;
  }
  body .main .mainNav .rightNav .hambergerMenu .slide_hide.asdsfd {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background-color: black;
  }
  body .main .mainNav .rightNav .hambergerMenu .slide_bottom {
    width: 3vh;
    height: .1vh;
    background-color: white;
    position: absolute;
    top: 10px;
    left: 0;
  }
  body .main .mainNav .rightNav .hambergerMenu .slide_bottom.asdsfd {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background-color: black;
  }
  body .main .mainNav .rightNav .hambergerMenu .slide_bottom.rotateBottom1 {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    position: absolute;
    top: -0.4px;
    left: 0;
  }
  body .main .mainNav .rightNav .hambergerMenu .slide_bottom.rotateBottom2 {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    position: absolute;
    top: 10px;
    left: 0;
  }
  body .main .mainNav .leftNav {
    width: 7vh;
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .main .mainNav .leftNav .cartMenu {
    width: 5vh;
    height: 5vh;
    float: left;
  }
  body .main .mainNav .leftNav .cartMenu .cartIcon {
    width: 5vh;
    height: 5vh;
    background: url(../svg/cartwhite.svg) no-repeat center center;
  }
  body .main .mainNav .leftNav .cartMenu .cartIcon.vsd {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background: url(../svg/cartblack.svg) no-repeat center center;
  }
  body .main .mainNav.asd {
    width: 100%;
    height: 8vh;
    background: #fff url(../svg/logoblack.svg) no-repeat center center;
    background-size: 32.5%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    color: #000;
  }
  body .main .mainToneDown {
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .main .mainToneDown .mainText {
    width: 100%;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  body .main .mainToneDown .mainText h1 {
    font-size: 0.875rem;
    padding: 10px;
    font-weight: normal;
  }
  body .main .mainToneDown .mainText h2 {
    font-size: 2.8rem;
    padding: 10px;
  }
  body .main .mainToneDown .mainText p {
    font-size: 1.135rem;
    padding: 0 10px 40px 10px;
  }
  body .main .mainToneDown .mainText .moreCheck {
    width: 200px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
  }
  body .main .mainToneDown .mainText .moreCheck .check {
    width: 27vh;
    height: 3vh;
    border: 2px solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
  }
  body .main .mainToneDown .mainText .moreCheck .check a {
    color: #fff;
    text-decoration: none;
  }
  body .main .mainToneDown .mainTextOpacity {
    opacity: .3;
  }
  body .collection {
    height: 100vh;
    background: url(../img/collection.png) no-repeat center center;
    background-size: cover;
  }
  body .collection .collToneDown {
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .collection .collToneDown .mainText2 {
    width: 100%;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  body .collection .collToneDown .mainText2 h1 {
    font-size: 0.875rem;
    padding: 10px;
    font-weight: normal;
  }
  body .collection .collToneDown .mainText2 h2 {
    font-size: 2.8rem;
    padding: 10px;
  }
  body .collection .collToneDown .mainText2 p {
    font-size: 1.135rem;
    padding: 0 10px 40px 10px;
  }
  body .collection .collToneDown .mainText2 .moreCheck {
    width: 200px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
  }
  body .collection .collToneDown .mainText2 .moreCheck .check {
    width: 27vh;
    height: 3vh;
    border: 2px solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
  }
  body .collection .collToneDown .mainText2 .moreCheck .check a {
    color: #fff;
    text-decoration: none;
  }
  body .collection .collToneDown .mainTextOpacity2 {
    opacity: .3;
  }
  body .items {
    height: 212vh;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .items .itemList {
    width: 90%;
    height: 200vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .items .itemList .speaker {
    width: 90%;
    height: 55vh;
    background-color: #fafafa;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body .items .itemList .speaker .img {
    width: 100%;
    height: 34vh;
    background: url(../img/firstspeaker.png) no-repeat center center;
    background-size: 70%;
  }
  body .items .itemList .speaker .more {
    text-align: right;
  }
  body .items .itemList .headphone {
    width: 90%;
    height: 55vh;
    background-color: #fafafa;
    margin: 10px;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body .items .itemList .headphone .img {
    width: 100%;
    height: 34vh;
    background: url(../img/headphone.png) no-repeat center center;
    background-size: 70%;
  }
  body .items .itemList .headphone .more {
    text-align: right;
  }
  body .items .itemList .tv {
    width: 90%;
    height: 55vh;
    background-color: #fafafa;
    margin: 10px;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body .items .itemList .tv .img {
    width: 100%;
    height: 34vh;
    background: url(../img/tv.png) no-repeat center center;
    background-size: 70%;
  }
  body .items .itemList .tv .more {
    text-align: right;
  }
  body .items .itemList .signUp {
    width: 100%;
    height: 55vh;
    margin: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body .items .itemList .signUp .head {
    width: 100%;
    height: 23vh;
    background: url(../svg/mail-icon.svg) no-repeat center center;
    background-size: 23%;
  }
  body .items .itemList .signUp .img {
    text-align: center;
    margin-bottom: 10px;
  }
  body .items .itemList .signUp .more {
    text-align: center;
    margin-bottom: 10px;
  }
  body .items .itemList .signUp .moreCheck {
    width: 200px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
  }
  body .items .itemList .signUp .moreCheck .check {
    width: 27vh;
    height: 3vh;
    border: 2px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
  }
  body .items .itemList .signUp .moreCheck .check a {
    color: black;
    text-decoration: none;
  }
  body .footer {
    width: 100%;
    height: 120vh;
    background-color: #fafafa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px 0;
  }
  body .footer .container {
    width: 90%;
    height: 120vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .footer .container .logoMini {
    height: 5vh;
    background: url(../img/B&O.png) no-repeat;
    background-size: 8%;
  }
  body .footer .container .contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .footer .container .contents h4 {
    font-size: 12px;
    margin-bottom: 15px;
  }
  body .footer .container .contents h4::after {
    content: "";
    display: block;
    height: 2px;
    width: 12px;
    margin-top: 15px;
    background-color: black;
  }
  body .footer .container .contents .countryAndLanguage {
    width: 50%;
    height: 40vh;
  }
  body .footer .container .contents .countryAndLanguage .country {
    width: 50%;
    height: 20vh;
  }
  body .footer .container .contents .countryAndLanguage .country .countrySelect {
    height: 4vh;
    width: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .footer .container .contents .countryAndLanguage .country .countrySelect .flagMain {
    height: 20px;
    width: 30px;
    background: url(../img/flag/korea.png) no-repeat;
    background-size: 30px;
  }
  body .footer .container .contents .countryAndLanguage .country .countrySelect i {
    padding-top: 5px;
    font-size: 12px;
    color: #6e6e6e;
  }
  body .footer .container .contents .countryAndLanguage .country .countryList {
    display: none;
    width: 22vh;
    height: 13vh;
    padding: 10px;
    margin-top: 10px;
    overflow: scroll;
    background: #f6f6f6;
    border: 1px solid lightgray;
  }
  body .footer .container .contents .countryAndLanguage .country .countryList ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .footer .container .contents .countryAndLanguage .country .countryList ul li img {
    width: 30px;
    height: 20px;
  }
  body .footer .container .contents .countryAndLanguage .country .countryList ul li a {
    font-size: 14px;
    color: #6e6e6e;
    padding: 0px 0px 20px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
  }
  body .footer .container .contents .countryAndLanguage .country .countryList ul .lastLi a {
    padding-bottom: 0px;
  }
  body .footer .container .contents .countryAndLanguage .language {
    width: 50%;
    height: 20vh;
  }
  body .footer .container .contents .countryAndLanguage .language .languageSelect {
    height: 4vh;
    width: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .footer .container .contents .countryAndLanguage .language .languageSelect h3 {
    font-size: 14px;
    font-weight: 100;
    color: #737373;
  }
  body .footer .container .contents .countryAndLanguage .language .languageSelect i {
    padding-top: 5px;
    font-size: 12px;
    color: #6e6e6e;
  }
  body .footer .container .contents .countryAndLanguage .language .languageList {
    display: none;
    width: 13vh;
    height: 13vh;
    overflow: scroll;
    background: #f6f6f6;
    border: 1px solid lightgray;
  }
  body .footer .container .contents .countryAndLanguage .language .languageList ul li a {
    font-size: 14px;
    color: #6e6e6e;
    padding: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
  }
  body .footer .container .contents .member {
    width: 50%;
    height: 40vh;
  }
  body .footer .container .contents .member ul {
    font-size: 14px;
    color: #737373;
    padding-right: 15px;
  }
  body .footer .container .contents .member ul li {
    line-height: 25px;
  }
  body .footer .container .contents .company {
    width: 50%;
    height: 40vh;
  }
  body .footer .container .contents .company ul {
    font-size: 14px;
    color: #737373;
  }
  body .footer .container .contents .company ul li {
    line-height: 25px;
  }
  body .footer .container .contents .introduce {
    width: 50%;
    height: 40vh;
  }
  body .footer .container .contents .introduce ul {
    font-size: 14px;
    color: #737373;
  }
  body .footer .container .contents .introduce ul li {
    line-height: 25px;
  }
  body .footer .container .snsIcon ul {
    padding: 0 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .footer .container .snsIcon ul li.logoSns a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 50%;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    font-weight: 800 !important;
  }
  body .footer .container .address {
    text-align: center;
    color: #6e6e6e;
    height: 15vh;
  }
  body .footer .container .address h4 {
    font-size: 14px;
    margin-bottom: 1vh;
  }
  body .footer .container .address h6 {
    margin-top: 5vh;
  }
}
/*# sourceMappingURL=style.css.map */